body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 77px;
    z-index: 999;
    background-color: #232323;
    position: fixed;
}
#navbar #nav{
    float: right;
    padding-top: 15px;
}
li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
}
li a{
    text-decoration: none;
    color: #0a0a0ae1;
    padding: 10px 18px;
    font-weight: bold;
    background: white;
    display: inline-block;
    margin: -10px;
    border-radius: 5px;
}
li a:hover {
    color: #e2ec22;
}
#logo{
    float: left;
}
.banner{
    margin-left: 8%;
    margin-top: 15%;
}
.banner h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    text-align: left;
}
.social a{
    text-decoration: none;
    color: #130157e1;
    padding: 17px 22px;
    font-weight: bold;
    background: #e2ec22;
    border-radius: 26px;
    display: inline-block;
}
.banner p{
    text-align: center;
    font-size: x-large;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 50px;

}
.container {
    padding: 20px;
    text-align: center;
} 